@using Model.Models
@using Model.Services
@model Comment
@{
    Animal currAnimal = ViewBag.Animal;
}

<script src="~/scripts/commentfetch.js"></script>
<p hidden id="AnimalId">@currAnimal.ID</p>

<h1 class="m-auto p-2 text-center bg-success">
    @currAnimal.Name
</h1>

<div class="d-flex flex-wrap">
    <div class="container d-coulomn col-6 flex-row form-group">
        <div class="form-group row">
            <label asp-for=@currAnimal.Name class="m-1"></label>
            <input asp-for=@currAnimal.Name disabled class="m-1 fw-bold" />
        </div>
        <div class="form-group row">
            <label asp-for=@currAnimal.Age class="m-1"></label>
            <input asp-for=@currAnimal.Age disabled class="m-1 fw-bold" />
        </div>
        <div class="form-group row">
            <label asp-for=@currAnimal.Description class="m-1"></label>
            <input asp-for=@currAnimal.Description disabled class="m-1 fw-bold" />
        </div>
        <div class="form-group row">
            <label asp-for=@currAnimal.CategoryEnum class="m-1"></label>
            <input asp-for=@currAnimal.CategoryEnum disabled class="m-1 fw-bold " />
        </div>
    </div>
    <div class="container d-coulomn col-6 flex-row">

        <img class="rounded-2 img-thumbnail img-fluid"
             src=@ImagesFormater.FormatRawDataToImage(currAnimal.ImageRawData)
             alt=@currAnimal.Name />
    </div>
    <div class="col-10 m-auto">
        @if (User.Identity!.IsAuthenticated)
        {
            @if (currAnimal.Comments?.Count > 0)
            {
                <h3 class="text-center p-1"> @currAnimal.Name's Comments</h3>
                <h4>Add @currAnimal.Name another comment</h4>
            }
            else
            {
                <h4>Add @currAnimal.Name first comment</h4>
            }

            <form method="post">
                <div class="from form-group">
                    <div class="d-flex flex-row mb-1">
                        <div class="col-9">
                            <textarea asp-for=Content class="form-control text-wrap bg-succses d-block" value="" placeholder="Leave comment please!  (minimum 3 char)" maxlength="200"> </textarea>
                        </div>
                        <div class="col-3">
                            <input class="btn btn-primary form-control" type="submit" value="Submit" />
                        </div>
                    </div>
                </div>
            </form>
        }
        <div id="Comments">
        </div>
    </div>
</div>